// Grâce au Scss, on peut customiser Bootstrap facilement
$primary: #38b2ac;
// Permet d'importer Bootstrap dans notre code
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
    background-color: #edf2f7;
    font-family: 'Nunito', sans-serif;
}

.post-thumbnail {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.site-description {
    display: block;
    font-size: 10px;
}
